<h6>Dashboard</h6>
<h3>Welcome {{name}}</h3>
<br>
<a href="https://journalteam-cse341.herokuapp.com/api-docs/" target="_blank">Api Documentation</a><br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/ANCjrzSJOsU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>